{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add A new page
{% endblock %}

{% block body %}
    <h1>Add A new page</h1>
    <h5>The body of the page should be written in <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Markdown</a></h5>
    {% if message %}
        <p class="error"> {{ message }} </p>
    {% endif %}
    <form action="{% url 'addNewPage' %}", method="POST">
        {% csrf_token %}
        <h2>Title</h2>
        {{ form.Title }}
        <h2>Body</h2>
        {{ form.Body }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}